.face-bounding-box {
	position: absolute;
	width: 20px;
	height: 20px;
	border: 2px solid red;
	top: 0;
	left: 0;
}

.debug-border {
	border: 2px solid blue;
}

.pos-relative {
	position: relative;
}

.inline-block {
	display: inline-block;
}